@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:wget@900&display=swap');

* {
    font-family: "Fira Code", monospace;
    color: white;
}

body {
    background: #333;
}

.OPENREC {
    font-family: "Roboto", sans-serif;
    color: white;
    position: fixed;
    background: black;
    height: 75px;
    font-size: 50px;
    text-align: center;
    left: 0;
    top: 0;
    padding-top: 10px;
    width: 100vw;
    box-shadow: 0px 11px 25px 3px #222;
}
